In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
bike = pd.read_csv('bikebuyer.csv')

In [3]:
bike.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711,Single,Male,30000,0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555,Married,Female,40000,0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,28907,Married,Male,160000,5,Partial College,Professional,No,3,2.0,Europe,55,No
3,2,Single,Male,160000,0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,25410,Single,Female,70000,2,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes

In [4]:
bike.shape

(6997, 13)

In [5]:
bike.describe()

,ID,Yearly Income,Children,Cars,Commute Distance,Age
count,6997.000000,6997.000000,6997.000000,6997.000000,6996.000000,6997.000000
mean,17746.030585,57030.155781,1.110619,1.586823,4.214551,45.107332
std,4339.171349,32068.231104,1.600296,1.146782,2.927598,11.916654
min,2.000000,10000.000000,0.000000,0.000000,1.000000,25.000000
25%,14250.000000,30000.000000,0.000000,1.000000,1.000000,36.000000
50%,17407.000000,60000.000000,0.000000,2.000000,4.000000,44.000000
75%,20614.000000,70000.000000,2.000000,2.000000,6.000000,53.000000
max,29476.000000,170000.000000,5.000000,4.000000,13.000000,96.000000

In [6]:
bike.isnull().any()

ID                  False
Marital Status      False
Gender              False
Yearly Income       False
Children            False
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance     True
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [7]:
bike.isnull().sum()

ID                  0
Marital Status      0
Gender              0
Yearly Income       0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    1
Region              0
Age                 0
Bike Buyer          0
dtype: int64

In [8]:
bike.dtypes

ID                    int64
Marital Status       object
Gender               object
Yearly Income         int64
Children              int64
Education            object
Occupation           object
Home Owner           object
Cars                  int64
Commute Distance    float64
Region               object
Age                   int64
Bike Buyer           object
dtype: object

In [9]:
from sklearn.preprocessing import Imputer
imp = Imputer()

In [10]:
bike.iloc[:,9:10]=imp.fit_transform(bike.iloc[:,9:10])

In [11]:
bike.isnull().any()

ID                  False
Marital Status      False
Gender              False
Yearly Income       False
Children            False
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance    False
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

location = bike.columns
l = [1,2,5,6,7,10,12]
for i in l:
    bike.iloc[:,i]= le.fit_transform(bike.iloc[:,i])
    print(bike[location[i]].value_counts())
    
bike.dtypes

0    4141
1    2856
Name: Marital Status, dtype: int64
1    3545
0    3452
Name: Gender, dtype: int64
3    1932
0    1870
2    1313
1    1272
4     610
Name: Education, dtype: int64
3    2031
4    1748
1    1265
2     990
0     963
Name: Occupation, dtype: int64
1    4979
0    2018
Name: Home Owner, dtype: int64
1    3728
0    2096
2    1173
Name: Region, dtype: int64
0    5997
1    1000
Name: Bike Buyer, dtype: int64

ID                    int64
Marital Status        int64
Gender                int64
Yearly Income         int64
Children              int64
Education             int64
Occupation            int64
Home Owner            int64
Cars                  int64
Commute Distance    float64
Region                int64
Age                   int64
Bike Buyer            int64
dtype: object

In [14]:
bike.columns

Index(['ID', 'Marital Status', 'Gender', 'Yearly Income', 'Children',
       'Education', 'Occupation', 'Home Owner', 'Cars', 'Commute Distance',
       'Region', 'Age', 'Bike Buyer'],
      dtype='object')

In [15]:
bike_cat=bike.iloc[:,[5]]

list1 = bike_cat.columns
for i in range(0,1):
    
    bike_cat[list1[i]]= (bike_cat[list1[i]].astype('category'))   #changing the variable into category (uni8) 
                                                                    #inorder to do dummie
bike_cat.dtypes

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Education    category
dtype: object

In [16]:
bike_na=pd.get_dummies(bike_cat)
print(bike_na)

      Education_0  Education_1  Education_2  Education_3  Education_4
0               0            0            0            1            0
1               0            1            0            0            0
2               0            0            0            1            0
3               0            1            0            0            0
4               1            0            0            0            0
5               1            0            0            0            0
6               0            0            1            0            0
7               0            0            1            0            0
8               1            0            0            0            0
9               0            0            0            1            0
10              1            0            0            0            0
11              0            0            0            1            0
12              0            0            0            1            0
13              0            0            0            1            0
14              0            0            0            1            0
15              0            0            0            1            0
16              1            0            0            0            0
17              0            0            0            1            0
18              0            0            0            1            0
19              0            0            0            1            0
20              1            0            0            0            0
21              1            0            0            0            0
22              1            0            0            0            0
23              0            1            0            0            0
24              0            0            0            1            0
25              0            0            0            1            0
26              0            0            0            1            0
27              0            0            0            1            0
28              0            0            0            1            0
29              0            1            0            0            0
...           ...          ...          ...          ...          ...
6967            0            0            0            1            0
6968            0            0            0            1            0
6969            0            0            0            0            1
6970            0            0            0            0            1
6971            0            0            0            1            0
6972            0            0            0            1            0
6973            0            0            0            1            0
6974            0            0            0            1            0
6975            0            0            0            1            0
6976            0            0            1            0            0
6977            0            0            0            0            1
6978            0            0            0            1            0
6979            0            0            0            0            1
6980            0            0            0            1            0
6981            1            0            0            0            0
6982            0            0            0            1            0
6983            1            0            0            0            0
6984            0            0            0            1            0
6985            1            0            0            0            0
6986            1            0            0            0            0
6987            1            0            0            0            0
6988            1            0            0            0            0
6989            1            0            0            0            0
6990            0            1            0            0            0
6991            0            0            0            1            0
6992            0            0            1            0            0
6993            0            0            0            1            0
6994            1            0            0            0            0
6995            0            0            0            1            0
6996            0            0            1            0            0

[6997 rows x 5 columns]

In [17]:
bike_cat=bike.iloc[:,[6]]

list1 = bike_cat.columns
for i in range(0,1):
    
    bike_cat[list1[i]]= (bike_cat[list1[i]].astype('category'))   #changing the variable into category (uni8) 
                                                                    #inorder to do dummie
bike_cat.dtypes

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Occupation    category
dtype: object

In [18]:
bike_naa=pd.get_dummies(bike_cat)
print(bike_naa)

      Occupation_0  Occupation_1  Occupation_2  Occupation_3  Occupation_4
0                1             0             0             0             0
1                1             0             0             0             0
2                0             0             0             1             0
3                0             1             0             0             0
4                0             0             0             0             1
5                0             1             0             0             0
6                0             0             0             1             0
7                0             0             0             1             0
8                1             0             0             0             0
9                0             0             1             0             0
10               0             1             0             0             0
11               0             0             0             1             0
12               0             0             0             0             1
13               1             0             0             0             0
14               0             0             0             1             0
15               0             0             0             0             1
16               0             0             0             0             1
17               1             0             0             0             0
18               1             0             0             0             0
19               0             0             0             0             1
20               0             0             0             1             0
21               0             0             0             1             0
22               0             0             0             1             0
23               0             0             0             1             0
24               0             0             0             0             1
25               0             0             0             1             0
26               0             0             0             0             1
27               0             0             0             0             1
28               0             0             0             0             1
29               1             0             0             0             0
...            ...           ...           ...           ...           ...
6967             0             0             0             1             0
6968             0             0             0             1             0
6969             0             0             0             0             1
6970             0             0             0             0             1
6971             0             0             0             1             0
6972             0             0             0             1             0
6973             0             0             0             1             0
6974             0             0             0             1             0
6975             0             0             0             1             0
6976             0             0             0             1             0
6977             0             0             0             1             0
6978             0             0             0             1             0
6979             0             0             0             1             0
6980             0             0             0             1             0
6981             0             1             0             0             0
6982             0             0             0             1             0
6983             0             1             0             0             0
6984             0             0             0             1             0
6985             0             1             0             0             0
6986             0             1             0             0             0
6987             0             1             0             0             0
6988             0             1             0             0             0
6989             0             1             0             0             0
6990             0             1             0             0             0
6991             0             0             0             1             0
6992             0             0             0             1             0
6993             0             0             0             1             0
6994             0             1             0             0             0
6995             0             0             0             1             0
6996             0             0             0             1             0

[6997 rows x 5 columns]

In [19]:
bike_cat=bike.iloc[:,[10]]

list1 = bike_cat.columns
for i in range(0,1):
    
    bike_cat[list1[i]]= (bike_cat[list1[i]].astype('category'))   #changing the variable into category (uni8) 
                                                                    #inorder to do dummie
bike_cat.dtypes

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Region    category
dtype: object

In [20]:
bike_naaa=pd.get_dummies(bike_cat)
print(bike_naaa)

      Region_0  Region_1  Region_2
0            1         0         0
1            1         0         0
2            1         0         0
3            0         0         1
4            0         1         0
5            0         1         0
6            0         0         1
7            0         1         0
8            1         0         0
9            1         0         0
10           0         1         0
11           0         1         0
12           0         1         0
13           0         1         0
14           0         1         0
15           0         0         1
16           0         1         0
17           0         1         0
18           0         1         0
19           0         0         1
20           0         0         1
21           0         0         1
22           0         0         1
23           0         1         0
24           0         0         1
25           1         0         0
26           0         0         1
27           0         0         1
28           0         0         1
29           1         0         0
...        ...       ...       ...
6967         0         1         0
6968         0         1         0
6969         0         1         0
6970         0         1         0
6971         0         1         0
6972         0         1         0
6973         1         0         0
6974         1         0         0
6975         1         0         0
6976         1         0         0
6977         1         0         0
6978         1         0         0
6979         1         0         0
6980         1         0         0
6981         1         0         0
6982         1         0         0
6983         1         0         0
6984         1         0         0
6985         1         0         0
6986         1         0         0
6987         1         0         0
6988         1         0         0
6989         1         0         0
6990         1         0         0
6991         1         0         0
6992         1         0         0
6993         1         0         0
6994         1         0         0
6995         1         0         0
6996         1         0         0

[6997 rows x 3 columns]

In [21]:
bike_full = bike.join(bike_na)
print(bike_full)

         ID  Marital Status  Gender  Yearly Income  Children  Education  \
0     22711               1       1          30000         0          3
1     13555               0       0          40000         0          1
2     28907               0       1         160000         5          3
3         2               1       1         160000         0          1
4     25410               1       0          70000         2          0
5         4               0       0         120000         2          0
6     15756               1       0          70000         0          2
7     11085               1       0          60000         0          2
8     17974               0       0          30000         1          0
9     21008               1       0          20000         1          3
10    28985               1       1          50000         0          0
11    11087               0       0          70000         2          3
12    20434               1       1          60000         0          3
13    14902               0       0          40000         0          3
14    11091               0       1          90000         0          3
15    11094               1       1          70000         0          3
16    18568               1       0          50000         2          0
17    16366               0       0          40000         0          3
18    20768               1       1          40000         0          3
19    11098               1       0          60000         0          3
20    18269               1       0          60000         2          0
21    11102               1       0          80000         5          0
22    11113               0       1          70000         4          0
23    26529               1       0          70000         0          1
24    11114               1       0          70000         4          3
25    23612               1       0          90000         0          3
26    11115               0       1          70000         4          3
27    11116               0       1          70000         4          3
28    11118               1       1          80000         0          3
29    19441               1       1          40000         0          1
...     ...             ...     ...            ...       ...        ...
6967  22779               0       1          60000         1          3
6968  22781               0       1          70000         2          3
6969  22783               0       1          70000         1          4
6970  22786               0       1          70000         1          4
6971  22792               0       1          70000         3          3
6972  22793               1       1          70000         3          3
6973  22794               0       0         130000         4          3
6974  22795               0       0         110000         4          3
6975  22796               0       1         110000         4          3
6976  22798               0       0         150000         3          2
6977  22799               0       0         120000         4          4
6978  22801               0       0         110000         4          3
6979  22802               1       0         120000         4          4
6980  22804               0       0          80000         1          3
6981  22805               0       0          80000         0          0
6982  22806               0       0          90000         0          3
6983  22807               0       0         130000         4          0
6984  22809               0       1          80000         0          3
6985  22811               0       1         110000         4          0
6986  22812               0       0         120000         4          0
6987  22813               0       1         130000         4          0
6988  22814               0       1         100000         3          0
6989  22815               0       0         100000         4          0
6990  22818               0       0         150000         4          1
6991  22819               0       0          80000         2          3
6992  22820               0       1         100000         4          2
6993  22821               0       0         130000         4          3
6994  22823               0       0         160000         5          0
6995  22825               1       0         120000         5          3
6996  22826               0       1         130000         5          2

      Occupation  Home Owner  Cars  Commute Distance  Region  Age  Bike Buyer  \
0              0           0     1               1.0       0   33           1
1              0           1     0               1.0       0   37           1
2              3           0     3               2.0       0   55           0
3              1           1     2               5.0       2   47           0
4              4           0     1               1.0       1   38           1
5              1           1     3               1.0       1   40           0
6              3           1     2               1.0       2   49           1
7              3           0     2               1.0       1   49           0
8              0           1     0              10.0       0   38           1
9              2           0     0               1.0       0   46           1
10             1           0     2               2.0       1   64           0
11             3           0     0              11.0       1   49           0
12             4           0     2               1.0       1   31           1
13             0           1     1               1.0       1   50           1
14             3           1     1               1.0       1   49           0
15             4           0     1               1.0       2   44           0
16             4           1     1               2.0       1   39           1
17             0           1     1               1.0       1   51           1
18             0           1     1               2.0       1   48           1
19             4           0     1               6.0       2   45           0
20             3           1     2               1.0       2   43           1
21             3           1     4              12.0       2   41           0
22             3           1     2               1.0       2   44           0
23             3           1     0               8.0       1   37           1
24             4           1     2               1.0       2   44           0
25             3           0     2               1.0       0   62           1
26             4           1     2               1.0       2   44           0
27             4           1     2               9.0       2   44           0
28             4           0     1               5.0       2   49           0
29             0           1     0               1.0       0   37           1
...          ...         ...   ...               ...     ...  ...         ...
6967           3           1     2               2.0       1   54           0
6968           3           1     1               1.0       1   55           0
6969           4           1     2               1.0       1   54           0
6970           4           1     3               2.0       1   54           0
6971           3           1     1               7.0       1   53           0
6972           3           1     1               8.0       1   53           0
6973           3           1     1               9.0       0   48           0
6974           3           1     3               2.0       0   49           0
6975           3           0     3               3.0       0   49           0
6976           3           1     4               5.0       0   49           0
6977           3           0     4               6.0       0   50           0
6978           3           1     4               7.0       0   51           0
6979           3           1     4               1.0       0   51           0
6980           3           1     2               2.0       0   51           0
6981           1           1     2               1.0       0   62           0
6982           3           1     2               1.0       0   62           0
6983           1           1     4               2.0       0   62           0
6984           3           1     2               7.0       0   61           0
6985           1           1     4               8.0       0   61           0
6986           1           1     4               9.0       0   61           0
6987           1           1     4               2.0       0   61           0
6988           1           1     4               3.0       0   60           0
6989           1           1     1               5.0       0   60           0
6990           1           1     4               6.0       0   60           0
6991           3           1     2               7.0       0   53           0
6992           3           1     3               1.0       0   52           0
6993           3           1     4               2.0       0   52           0
6994           1           1     2               1.0       0   53           0
6995           3           1     3               1.0       0   54           0
6996           3           1     3               2.0       0   54           0

      Education_0  Education_1  Education_2  Education_3  Education_4
0               0            0            0            1            0
1               0            1            0            0            0
2               0            0            0            1            0
3               0            1            0            0            0
4               1            0            0            0            0
5               1            0            0            0            0
6               0            0            1            0            0
7               0            0            1            0            0
8               1            0            0            0            0
9               0            0            0            1            0
10              1            0            0            0            0
11              0            0            0            1            0
12              0            0            0            1            0
13              0            0            0            1            0
14              0            0            0            1            0
15              0            0            0            1            0
16              1            0            0            0            0
17              0            0            0            1            0
18              0            0            0            1            0
19              0            0            0            1            0
20              1            0            0            0            0
21              1            0            0            0            0
22              1            0            0            0            0
23              0            1            0            0            0
24              0            0            0            1            0
25              0            0            0            1            0
26              0            0            0            1            0
27              0            0            0            1            0
28              0            0            0            1            0
29              0            1            0            0            0
...           ...          ...          ...          ...          ...
6967            0            0            0            1            0
6968            0            0            0            1            0
6969            0            0            0            0            1
6970            0            0            0            0            1
6971            0            0            0            1            0
6972            0            0            0            1            0
6973            0            0            0            1            0
6974            0            0            0            1            0
6975            0            0            0            1            0
6976            0            0            1            0            0
6977            0            0            0            0            1
6978            0            0            0            1            0
6979            0            0            0            0            1
6980            0            0            0            1            0
6981            1            0            0            0            0
6982            0            0            0            1            0
6983            1            0            0            0            0
6984            0            0            0            1            0
6985            1            0            0            0            0
6986            1            0            0            0            0
6987            1            0            0            0            0
6988            1            0            0            0            0
6989            1            0            0            0            0
6990            0            1            0            0            0
6991            0            0            0            1            0
6992            0            0            1            0            0
6993            0            0            0            1            0
6994            1            0            0            0            0
6995            0            0            0            1            0
6996            0            0            1            0            0

[6997 rows x 18 columns]

In [22]:
bike_full =bike_full.drop("Education", axis=1)

In [23]:
bike_full.columns

Index(['ID', 'Marital Status', 'Gender', 'Yearly Income', 'Children',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Bike Buyer', 'Education_0', 'Education_1', 'Education_2',
       'Education_3', 'Education_4'],
      dtype='object')

In [24]:
bike.shape

(6997, 13)

In [25]:
bike_full1 = bike_full.join(bike_naa)
print(bike_full1)

         ID  Marital Status  Gender  Yearly Income  Children  Occupation  \
0     22711               1       1          30000         0           0
1     13555               0       0          40000         0           0
2     28907               0       1         160000         5           3
3         2               1       1         160000         0           1
4     25410               1       0          70000         2           4
5         4               0       0         120000         2           1
6     15756               1       0          70000         0           3
7     11085               1       0          60000         0           3
8     17974               0       0          30000         1           0
9     21008               1       0          20000         1           2
10    28985               1       1          50000         0           1
11    11087               0       0          70000         2           3
12    20434               1       1          60000         0           4
13    14902               0       0          40000         0           0
14    11091               0       1          90000         0           3
15    11094               1       1          70000         0           4
16    18568               1       0          50000         2           4
17    16366               0       0          40000         0           0
18    20768               1       1          40000         0           0
19    11098               1       0          60000         0           4
20    18269               1       0          60000         2           3
21    11102               1       0          80000         5           3
22    11113               0       1          70000         4           3
23    26529               1       0          70000         0           3
24    11114               1       0          70000         4           4
25    23612               1       0          90000         0           3
26    11115               0       1          70000         4           4
27    11116               0       1          70000         4           4
28    11118               1       1          80000         0           4
29    19441               1       1          40000         0           0
...     ...             ...     ...            ...       ...         ...
6967  22779               0       1          60000         1           3
6968  22781               0       1          70000         2           3
6969  22783               0       1          70000         1           4
6970  22786               0       1          70000         1           4
6971  22792               0       1          70000         3           3
6972  22793               1       1          70000         3           3
6973  22794               0       0         130000         4           3
6974  22795               0       0         110000         4           3
6975  22796               0       1         110000         4           3
6976  22798               0       0         150000         3           3
6977  22799               0       0         120000         4           3
6978  22801               0       0         110000         4           3
6979  22802               1       0         120000         4           3
6980  22804               0       0          80000         1           3
6981  22805               0       0          80000         0           1
6982  22806               0       0          90000         0           3
6983  22807               0       0         130000         4           1
6984  22809               0       1          80000         0           3
6985  22811               0       1         110000         4           1
6986  22812               0       0         120000         4           1
6987  22813               0       1         130000         4           1
6988  22814               0       1         100000         3           1
6989  22815               0       0         100000         4           1
6990  22818               0       0         150000         4           1
6991  22819               0       0          80000         2           3
6992  22820               0       1         100000         4           3
6993  22821               0       0         130000         4           3
6994  22823               0       0         160000         5           1
6995  22825               1       0         120000         5           3
6996  22826               0       1         130000         5           3

      Home Owner  Cars  Commute Distance  Region      ...       Education_0  \
0              0     1               1.0       0      ...                 0
1              1     0               1.0       0      ...                 0
2              0     3               2.0       0      ...                 0
3              1     2               5.0       2      ...                 0
4              0     1               1.0       1      ...                 1
5              1     3               1.0       1      ...                 1
6              1     2               1.0       2      ...                 0
7              0     2               1.0       1      ...                 0
8              1     0              10.0       0      ...                 1
9              0     0               1.0       0      ...                 0
10             0     2               2.0       1      ...                 1
11             0     0              11.0       1      ...                 0
12             0     2               1.0       1      ...                 0
13             1     1               1.0       1      ...                 0
14             1     1               1.0       1      ...                 0
15             0     1               1.0       2      ...                 0
16             1     1               2.0       1      ...                 1
17             1     1               1.0       1      ...                 0
18             1     1               2.0       1      ...                 0
19             0     1               6.0       2      ...                 0
20             1     2               1.0       2      ...                 1
21             1     4              12.0       2      ...                 1
22             1     2               1.0       2      ...                 1
23             1     0               8.0       1      ...                 0
24             1     2               1.0       2      ...                 0
25             0     2               1.0       0      ...                 0
26             1     2               1.0       2      ...                 0
27             1     2               9.0       2      ...                 0
28             0     1               5.0       2      ...                 0
29             1     0               1.0       0      ...                 0
...          ...   ...               ...     ...      ...               ...
6967           1     2               2.0       1      ...                 0
6968           1     1               1.0       1      ...                 0
6969           1     2               1.0       1      ...                 0
6970           1     3               2.0       1      ...                 0
6971           1     1               7.0       1      ...                 0
6972           1     1               8.0       1      ...                 0
6973           1     1               9.0       0      ...                 0
6974           1     3               2.0       0      ...                 0
6975           0     3               3.0       0      ...                 0
6976           1     4               5.0       0      ...                 0
6977           0     4               6.0       0      ...                 0
6978           1     4               7.0       0      ...                 0
6979           1     4               1.0       0      ...                 0
6980           1     2               2.0       0      ...                 0
6981           1     2               1.0       0      ...                 1
6982           1     2               1.0       0      ...                 0
6983           1     4               2.0       0      ...                 1
6984           1     2               7.0       0      ...                 0
6985           1     4               8.0       0      ...                 1
6986           1     4               9.0       0      ...                 1
6987           1     4               2.0       0      ...                 1
6988           1     4               3.0       0      ...                 1
6989           1     1               5.0       0      ...                 1
6990           1     4               6.0       0      ...                 0
6991           1     2               7.0       0      ...                 0
6992           1     3               1.0       0      ...                 0
6993           1     4               2.0       0      ...                 0
6994           1     2               1.0       0      ...                 1
6995           1     3               1.0       0      ...                 0
6996           1     3               2.0       0      ...                 0

      Education_1  Education_2  Education_3  Education_4  Occupation_0  \
0               0            0            1            0             1
1               1            0            0            0             1
2               0            0            1            0             0
3               1            0            0            0             0
4               0            0            0            0             0
5               0            0            0            0             0
6               0            1            0            0             0
7               0            1            0            0             0
8               0            0            0            0             1
9               0            0            1            0             0
10              0            0            0            0             0
11              0            0            1            0             0
12              0            0            1            0             0
13              0            0            1            0             1
14              0            0            1            0             0
15              0            0            1            0             0
16              0            0            0            0             0
17              0            0            1            0             1
18              0            0            1            0             1
19              0            0            1            0             0
20              0            0            0            0             0
21              0            0            0            0             0
22              0            0            0            0             0
23              1            0            0            0             0
24              0            0            1            0             0
25              0            0            1            0             0
26              0            0            1            0             0
27              0            0            1            0             0
28              0            0            1            0             0
29              1            0            0            0             1
...           ...          ...          ...          ...           ...
6967            0            0            1            0             0
6968            0            0            1            0             0
6969            0            0            0            1             0
6970            0            0            0            1             0
6971            0            0            1            0             0
6972            0            0            1            0             0
6973            0            0            1            0             0
6974            0            0            1            0             0
6975            0            0            1            0             0
6976            0            1            0            0             0
6977            0            0            0            1             0
6978            0            0            1            0             0
6979            0            0            0            1             0
6980            0            0            1            0             0
6981            0            0            0            0             0
6982            0            0            1            0             0
6983            0            0            0            0             0
6984            0            0            1            0             0
6985            0            0            0            0             0
6986            0            0            0            0             0
6987            0            0            0            0             0
6988            0            0            0            0             0
6989            0            0            0            0             0
6990            1            0            0            0             0
6991            0            0            1            0             0
6992            0            1            0            0             0
6993            0            0            1            0             0
6994            0            0            0            0             0
6995            0            0            1            0             0
6996            0            1            0            0             0

      Occupation_1  Occupation_2  Occupation_3  Occupation_4
0                0             0             0             0
1                0             0             0             0
2                0             0             1             0
3                1             0             0             0
4                0             0             0             1
5                1             0             0             0
6                0             0             1             0
7                0             0             1             0
8                0             0             0             0
9                0             1             0             0
10               1             0             0             0
11               0             0             1             0
12               0             0             0             1
13               0             0             0             0
14               0             0             1             0
15               0             0             0             1
16               0             0             0             1
17               0             0             0             0
18               0             0             0             0
19               0             0             0             1
20               0             0             1             0
21               0             0             1             0
22               0             0             1             0
23               0             0             1             0
24               0             0             0             1
25               0             0             1             0
26               0             0             0             1
27               0             0             0             1
28               0             0             0             1
29               0             0             0             0
...            ...           ...           ...           ...
6967             0             0             1             0
6968             0             0             1             0
6969             0             0             0             1
6970             0             0             0             1
6971             0             0             1             0
6972             0             0             1             0
6973             0             0             1             0
6974             0             0             1             0
6975             0             0             1             0
6976             0             0             1             0
6977             0             0             1             0
6978             0             0             1             0
6979             0             0             1             0
6980             0             0             1             0
6981             1             0             0             0
6982             0             0             1             0
6983             1             0             0             0
6984             0             0             1             0
6985             1             0             0             0
6986             1             0             0             0
6987             1             0             0             0
6988             1             0             0             0
6989             1             0             0             0
6990             1             0             0             0
6991             0             0             1             0
6992             0             0             1             0
6993             0             0             1             0
6994             1             0             0             0
6995             0             0             1             0
6996             0             0             1             0

[6997 rows x 22 columns]

In [26]:
bike_full2 = bike_full1.join(bike_naaa)
print(bike_full2)

         ID  Marital Status  Gender  Yearly Income  Children  Occupation  \
0     22711               1       1          30000         0           0
1     13555               0       0          40000         0           0
2     28907               0       1         160000         5           3
3         2               1       1         160000         0           1
4     25410               1       0          70000         2           4
5         4               0       0         120000         2           1
6     15756               1       0          70000         0           3
7     11085               1       0          60000         0           3
8     17974               0       0          30000         1           0
9     21008               1       0          20000         1           2
10    28985               1       1          50000         0           1
11    11087               0       0          70000         2           3
12    20434               1       1          60000         0           4
13    14902               0       0          40000         0           0
14    11091               0       1          90000         0           3
15    11094               1       1          70000         0           4
16    18568               1       0          50000         2           4
17    16366               0       0          40000         0           0
18    20768               1       1          40000         0           0
19    11098               1       0          60000         0           4
20    18269               1       0          60000         2           3
21    11102               1       0          80000         5           3
22    11113               0       1          70000         4           3
23    26529               1       0          70000         0           3
24    11114               1       0          70000         4           4
25    23612               1       0          90000         0           3
26    11115               0       1          70000         4           4
27    11116               0       1          70000         4           4
28    11118               1       1          80000         0           4
29    19441               1       1          40000         0           0
...     ...             ...     ...            ...       ...         ...
6967  22779               0       1          60000         1           3
6968  22781               0       1          70000         2           3
6969  22783               0       1          70000         1           4
6970  22786               0       1          70000         1           4
6971  22792               0       1          70000         3           3
6972  22793               1       1          70000         3           3
6973  22794               0       0         130000         4           3
6974  22795               0       0         110000         4           3
6975  22796               0       1         110000         4           3
6976  22798               0       0         150000         3           3
6977  22799               0       0         120000         4           3
6978  22801               0       0         110000         4           3
6979  22802               1       0         120000         4           3
6980  22804               0       0          80000         1           3
6981  22805               0       0          80000         0           1
6982  22806               0       0          90000         0           3
6983  22807               0       0         130000         4           1
6984  22809               0       1          80000         0           3
6985  22811               0       1         110000         4           1
6986  22812               0       0         120000         4           1
6987  22813               0       1         130000         4           1
6988  22814               0       1         100000         3           1
6989  22815               0       0         100000         4           1
6990  22818               0       0         150000         4           1
6991  22819               0       0          80000         2           3
6992  22820               0       1         100000         4           3
6993  22821               0       0         130000         4           3
6994  22823               0       0         160000         5           1
6995  22825               1       0         120000         5           3
6996  22826               0       1         130000         5           3

      Home Owner  Cars  Commute Distance  Region    ...     Education_3  \
0              0     1               1.0       0    ...               1
1              1     0               1.0       0    ...               0
2              0     3               2.0       0    ...               1
3              1     2               5.0       2    ...               0
4              0     1               1.0       1    ...               0
5              1     3               1.0       1    ...               0
6              1     2               1.0       2    ...               0
7              0     2               1.0       1    ...               0
8              1     0              10.0       0    ...               0
9              0     0               1.0       0    ...               1
10             0     2               2.0       1    ...               0
11             0     0              11.0       1    ...               1
12             0     2               1.0       1    ...               1
13             1     1               1.0       1    ...               1
14             1     1               1.0       1    ...               1
15             0     1               1.0       2    ...               1
16             1     1               2.0       1    ...               0
17             1     1               1.0       1    ...               1
18             1     1               2.0       1    ...               1
19             0     1               6.0       2    ...               1
20             1     2               1.0       2    ...               0
21             1     4              12.0       2    ...               0
22             1     2               1.0       2    ...               0
23             1     0               8.0       1    ...               0
24             1     2               1.0       2    ...               1
25             0     2               1.0       0    ...               1
26             1     2               1.0       2    ...               1
27             1     2               9.0       2    ...               1
28             0     1               5.0       2    ...               1
29             1     0               1.0       0    ...               0
...          ...   ...               ...     ...    ...             ...
6967           1     2               2.0       1    ...               1
6968           1     1               1.0       1    ...               1
6969           1     2               1.0       1    ...               0
6970           1     3               2.0       1    ...               0
6971           1     1               7.0       1    ...               1
6972           1     1               8.0       1    ...               1
6973           1     1               9.0       0    ...               1
6974           1     3               2.0       0    ...               1
6975           0     3               3.0       0    ...               1
6976           1     4               5.0       0    ...               0
6977           0     4               6.0       0    ...               0
6978           1     4               7.0       0    ...               1
6979           1     4               1.0       0    ...               0
6980           1     2               2.0       0    ...               1
6981           1     2               1.0       0    ...               0
6982           1     2               1.0       0    ...               1
6983           1     4               2.0       0    ...               0
6984           1     2               7.0       0    ...               1
6985           1     4               8.0       0    ...               0
6986           1     4               9.0       0    ...               0
6987           1     4               2.0       0    ...               0
6988           1     4               3.0       0    ...               0
6989           1     1               5.0       0    ...               0
6990           1     4               6.0       0    ...               0
6991           1     2               7.0       0    ...               1
6992           1     3               1.0       0    ...               0
6993           1     4               2.0       0    ...               1
6994           1     2               1.0       0    ...               0
6995           1     3               1.0       0    ...               1
6996           1     3               2.0       0    ...               0

      Education_4  Occupation_0  Occupation_1  Occupation_2  Occupation_3  \
0               0             1             0             0             0
1               0             1             0             0             0
2               0             0             0             0             1
3               0             0             1             0             0
4               0             0             0             0             0
5               0             0             1             0             0
6               0             0             0             0             1
7               0             0             0             0             1
8               0             1             0             0             0
9               0             0             0             1             0
10              0             0             1             0             0
11              0             0             0             0             1
12              0             0             0             0             0
13              0             1             0             0             0
14              0             0             0             0             1
15              0             0             0             0             0
16              0             0             0             0             0
17              0             1             0             0             0
18              0             1             0             0             0
19              0             0             0             0             0
20              0             0             0             0             1
21              0             0             0             0             1
22              0             0             0             0             1
23              0             0             0             0             1
24              0             0             0             0             0
25              0             0             0             0             1
26              0             0             0             0             0
27              0             0             0             0             0
28              0             0             0             0             0
29              0             1             0             0             0
...           ...           ...           ...           ...           ...
6967            0             0             0             0             1
6968            0             0             0             0             1
6969            1             0             0             0             0
6970            1             0             0             0             0
6971            0             0             0             0             1
6972            0             0             0             0             1
6973            0             0             0             0             1
6974            0             0             0             0             1
6975            0             0             0             0             1
6976            0             0             0             0             1
6977            1             0             0             0             1
6978            0             0             0             0             1
6979            1             0             0             0             1
6980            0             0             0             0             1
6981            0             0             1             0             0
6982            0             0             0             0             1
6983            0             0             1             0             0
6984            0             0             0             0             1
6985            0             0             1             0             0
6986            0             0             1             0             0
6987            0             0             1             0             0
6988            0             0             1             0             0
6989            0             0             1             0             0
6990            0             0             1             0             0
6991            0             0             0             0             1
6992            0             0             0             0             1
6993            0             0             0             0             1
6994            0             0             1             0             0
6995            0             0             0             0             1
6996            0             0             0             0             1

      Occupation_4  Region_0  Region_1  Region_2
0                0         1         0         0
1                0         1         0         0
2                0         1         0         0
3                0         0         0         1
4                1         0         1         0
5                0         0         1         0
6                0         0         0         1
7                0         0         1         0
8                0         1         0         0
9                0         1         0         0
10               0         0         1         0
11               0         0         1         0
12               1         0         1         0
13               0         0         1         0
14               0         0         1         0
15               1         0         0         1
16               1         0         1         0
17               0         0         1         0
18               0         0         1         0
19               1         0         0         1
20               0         0         0         1
21               0         0         0         1
22               0         0         0         1
23               0         0         1         0
24               1         0         0         1
25               0         1         0         0
26               1         0         0         1
27               1         0         0         1
28               1         0         0         1
29               0         1         0         0
...            ...       ...       ...       ...
6967             0         0         1         0
6968             0         0         1         0
6969             1         0         1         0
6970             1         0         1         0
6971             0         0         1         0
6972             0         0         1         0
6973             0         1         0         0
6974             0         1         0         0
6975             0         1         0         0
6976             0         1         0         0
6977             0         1         0         0
6978             0         1         0         0
6979             0         1         0         0
6980             0         1         0         0
6981             0         1         0         0
6982             0         1         0         0
6983             0         1         0         0
6984             0         1         0         0
6985             0         1         0         0
6986             0         1         0         0
6987             0         1         0         0
6988             0         1         0         0
6989             0         1         0         0
6990             0         1         0         0
6991             0         1         0         0
6992             0         1         0         0
6993             0         1         0         0
6994             0         1         0         0
6995             0         1         0         0
6996             0         1         0         0

[6997 rows x 25 columns]

In [27]:
bike_full2.columns

Index(['ID', 'Marital Status', 'Gender', 'Yearly Income', 'Children',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Bike Buyer', 'Education_0', 'Education_1', 'Education_2',
       'Education_3', 'Education_4', 'Occupation_0', 'Occupation_1',
       'Occupation_2', 'Occupation_3', 'Occupation_4', 'Region_0', 'Region_1',
       'Region_2'],
      dtype='object')

In [28]:
bike_full3 = bike_full2.drop('Occupation',axis=1)

In [29]:
bike_full3.columns

Index(['ID', 'Marital Status', 'Gender', 'Yearly Income', 'Children',
       'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age', 'Bike Buyer',
       'Education_0', 'Education_1', 'Education_2', 'Education_3',
       'Education_4', 'Occupation_0', 'Occupation_1', 'Occupation_2',
       'Occupation_3', 'Occupation_4', 'Region_0', 'Region_1', 'Region_2'],
      dtype='object')

In [30]:
bike_full4=bike_full3.drop('Region',axis=1)

In [31]:
bike_full4.columns

Index(['ID', 'Marital Status', 'Gender', 'Yearly Income', 'Children',
       'Home Owner', 'Cars', 'Commute Distance', 'Age', 'Bike Buyer',
       'Education_0', 'Education_1', 'Education_2', 'Education_3',
       'Education_4', 'Occupation_0', 'Occupation_1', 'Occupation_2',
       'Occupation_3', 'Occupation_4', 'Region_0', 'Region_1', 'Region_2'],
      dtype='object')

In [32]:
bike_full5=bike_full4.drop('ID',axis=1)

In [33]:
bike_full5.columns

Index(['Marital Status', 'Gender', 'Yearly Income', 'Children', 'Home Owner',
       'Cars', 'Commute Distance', 'Age', 'Bike Buyer', 'Education_0',
       'Education_1', 'Education_2', 'Education_3', 'Education_4',
       'Occupation_0', 'Occupation_1', 'Occupation_2', 'Occupation_3',
       'Occupation_4', 'Region_0', 'Region_1', 'Region_2'],
      dtype='object')

In [34]:
bike_full5.shape

(6997, 22)

In [35]:
x=bike_full5.drop(['Bike Buyer'], axis=1) 
print(x)

      Marital Status  Gender  Yearly Income  Children  Home Owner  Cars  \
0                  1       1          30000         0           0     1
1                  0       0          40000         0           1     0
2                  0       1         160000         5           0     3
3                  1       1         160000         0           1     2
4                  1       0          70000         2           0     1
5                  0       0         120000         2           1     3
6                  1       0          70000         0           1     2
7                  1       0          60000         0           0     2
8                  0       0          30000         1           1     0
9                  1       0          20000         1           0     0
10                 1       1          50000         0           0     2
11                 0       0          70000         2           0     0
12                 1       1          60000         0           0     2
13                 0       0          40000         0           1     1
14                 0       1          90000         0           1     1
15                 1       1          70000         0           0     1
16                 1       0          50000         2           1     1
17                 0       0          40000         0           1     1
18                 1       1          40000         0           1     1
19                 1       0          60000         0           0     1
20                 1       0          60000         2           1     2
21                 1       0          80000         5           1     4
22                 0       1          70000         4           1     2
23                 1       0          70000         0           1     0
24                 1       0          70000         4           1     2
25                 1       0          90000         0           0     2
26                 0       1          70000         4           1     2
27                 0       1          70000         4           1     2
28                 1       1          80000         0           0     1
29                 1       1          40000         0           1     0
...              ...     ...            ...       ...         ...   ...
6967               0       1          60000         1           1     2
6968               0       1          70000         2           1     1
6969               0       1          70000         1           1     2
6970               0       1          70000         1           1     3
6971               0       1          70000         3           1     1
6972               1       1          70000         3           1     1
6973               0       0         130000         4           1     1
6974               0       0         110000         4           1     3
6975               0       1         110000         4           0     3
6976               0       0         150000         3           1     4
6977               0       0         120000         4           0     4
6978               0       0         110000         4           1     4
6979               1       0         120000         4           1     4
6980               0       0          80000         1           1     2
6981               0       0          80000         0           1     2
6982               0       0          90000         0           1     2
6983               0       0         130000         4           1     4
6984               0       1          80000         0           1     2
6985               0       1         110000         4           1     4
6986               0       0         120000         4           1     4
6987               0       1         130000         4           1     4
6988               0       1         100000         3           1     4
6989               0       0         100000         4           1     1
6990               0       0         150000         4           1     4
6991               0       0          80000         2           1     2
6992               0       1         100000         4           1     3
6993               0       0         130000         4           1     4
6994               0       0         160000         5           1     2
6995               1       0         120000         5           1     3
6996               0       1         130000         5           1     3

      Commute Distance  Age  Education_0  Education_1    ...     Education_3  \
0                  1.0   33            0            0    ...               1
1                  1.0   37            0            1    ...               0
2                  2.0   55            0            0    ...               1
3                  5.0   47            0            1    ...               0
4                  1.0   38            1            0    ...               0
5                  1.0   40            1            0    ...               0
6                  1.0   49            0            0    ...               0
7                  1.0   49            0            0    ...               0
8                 10.0   38            1            0    ...               0
9                  1.0   46            0            0    ...               1
10                 2.0   64            1            0    ...               0
11                11.0   49            0            0    ...               1
12                 1.0   31            0            0    ...               1
13                 1.0   50            0            0    ...               1
14                 1.0   49            0            0    ...               1
15                 1.0   44            0            0    ...               1
16                 2.0   39            1            0    ...               0
17                 1.0   51            0            0    ...               1
18                 2.0   48            0            0    ...               1
19                 6.0   45            0            0    ...               1
20                 1.0   43            1            0    ...               0
21                12.0   41            1            0    ...               0
22                 1.0   44            1            0    ...               0
23                 8.0   37            0            1    ...               0
24                 1.0   44            0            0    ...               1
25                 1.0   62            0            0    ...               1
26                 1.0   44            0            0    ...               1
27                 9.0   44            0            0    ...               1
28                 5.0   49            0            0    ...               1
29                 1.0   37            0            1    ...               0
...                ...  ...          ...          ...    ...             ...
6967               2.0   54            0            0    ...               1
6968               1.0   55            0            0    ...               1
6969               1.0   54            0            0    ...               0
6970               2.0   54            0            0    ...               0
6971               7.0   53            0            0    ...               1
6972               8.0   53            0            0    ...               1
6973               9.0   48            0            0    ...               1
6974               2.0   49            0            0    ...               1
6975               3.0   49            0            0    ...               1
6976               5.0   49            0            0    ...               0
6977               6.0   50            0            0    ...               0
6978               7.0   51            0            0    ...               1
6979               1.0   51            0            0    ...               0
6980               2.0   51            0            0    ...               1
6981               1.0   62            1            0    ...               0
6982               1.0   62            0            0    ...               1
6983               2.0   62            1            0    ...               0
6984               7.0   61            0            0    ...               1
6985               8.0   61            1            0    ...               0
6986               9.0   61            1            0    ...               0
6987               2.0   61            1            0    ...               0
6988               3.0   60            1            0    ...               0
6989               5.0   60            1            0    ...               0
6990               6.0   60            0            1    ...               0
6991               7.0   53            0            0    ...               1
6992               1.0   52            0            0    ...               0
6993               2.0   52            0            0    ...               1
6994               1.0   53            1            0    ...               0
6995               1.0   54            0            0    ...               1
6996               2.0   54            0            0    ...               0

      Education_4  Occupation_0  Occupation_1  Occupation_2  Occupation_3  \
0               0             1             0             0             0
1               0             1             0             0             0
2               0             0             0             0             1
3               0             0             1             0             0
4               0             0             0             0             0
5               0             0             1             0             0
6               0             0             0             0             1
7               0             0             0             0             1
8               0             1             0             0             0
9               0             0             0             1             0
10              0             0             1             0             0
11              0             0             0             0             1
12              0             0             0             0             0
13              0             1             0             0             0
14              0             0             0             0             1
15              0             0             0             0             0
16              0             0             0             0             0
17              0             1             0             0             0
18              0             1             0             0             0
19              0             0             0             0             0
20              0             0             0             0             1
21              0             0             0             0             1
22              0             0             0             0             1
23              0             0             0             0             1
24              0             0             0             0             0
25              0             0             0             0             1
26              0             0             0             0             0
27              0             0             0             0             0
28              0             0             0             0             0
29              0             1             0             0             0
...           ...           ...           ...           ...           ...
6967            0             0             0             0             1
6968            0             0             0             0             1
6969            1             0             0             0             0
6970            1             0             0             0             0
6971            0             0             0             0             1
6972            0             0             0             0             1
6973            0             0             0             0             1
6974            0             0             0             0             1
6975            0             0             0             0             1
6976            0             0             0             0             1
6977            1             0             0             0             1
6978            0             0             0             0             1
6979            1             0             0             0             1
6980            0             0             0             0             1
6981            0             0             1             0             0
6982            0             0             0             0             1
6983            0             0             1             0             0
6984            0             0             0             0             1
6985            0             0             1             0             0
6986            0             0             1             0             0
6987            0             0             1             0             0
6988            0             0             1             0             0
6989            0             0             1             0             0
6990            0             0             1             0             0
6991            0             0             0             0             1
6992            0             0             0             0             1
6993            0             0             0             0             1
6994            0             0             1             0             0
6995            0             0             0             0             1
6996            0             0             0             0             1

      Occupation_4  Region_0  Region_1  Region_2
0                0         1         0         0
1                0         1         0         0
2                0         1         0         0
3                0         0         0         1
4                1         0         1         0
5                0         0         1         0
6                0         0         0         1
7                0         0         1         0
8                0         1         0         0
9                0         1         0         0
10               0         0         1         0
11               0         0         1         0
12               1         0         1         0
13               0         0         1         0
14               0         0         1         0
15               1         0         0         1
16               1         0         1         0
17               0         0         1         0
18               0         0         1         0
19               1         0         0         1
20               0         0         0         1
21               0         0         0         1
22               0         0         0         1
23               0         0         1         0
24               1         0         0         1
25               0         1         0         0
26               1         0         0         1
27               1         0         0         1
28               1         0         0         1
29               0         1         0         0
...            ...       ...       ...       ...
6967             0         0         1         0
6968             0         0         1         0
6969             1         0         1         0
6970             1         0         1         0
6971             0         0         1         0
6972             0         0         1         0
6973             0         1         0         0
6974             0         1         0         0
6975             0         1         0         0
6976             0         1         0         0
6977             0         1         0         0
6978             0         1         0         0
6979             0         1         0         0
6980             0         1         0         0
6981             0         1         0         0
6982             0         1         0         0
6983             0         1         0         0
6984             0         1         0         0
6985             0         1         0         0
6986             0         1         0         0
6987             0         1         0         0
6988             0         1         0         0
6989             0         1         0         0
6990             0         1         0         0
6991             0         1         0         0
6992             0         1         0         0
6993             0         1         0         0
6994             0         1         0         0
6995             0         1         0         0
6996             0         1         0         0

[6997 rows x 21 columns]

In [36]:
x.shape

(6997, 21)

In [37]:
y=bike_full5.loc[:,['Bike Buyer']]
print(y)

      Bike Buyer
0              1
1              1
2              0
3              0
4              1
5              0
6              1
7              0
8              1
9              1
10             0
11             0
12             1
13             1
14             0
15             0
16             1
17             1
18             1
19             0
20             1
21             0
22             0
23             1
24             0
25             1
26             0
27             0
28             0
29             1
...          ...
6967           0
6968           0
6969           0
6970           0
6971           0
6972           0
6973           0
6974           0
6975           0
6976           0
6977           0
6978           0
6979           0
6980           0
6981           0
6982           0
6983           0
6984           0
6985           0
6986           0
6987           0
6988           0
6989           0
6990           0
6991           0
6992           0
6993           0
6994           0
6995           0
6996           0

[6997 rows x 1 columns]

In [38]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train ,y_test =train_test_split(x,y, test_size=0.35, random_state=128)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [39]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators = 10,criterion = 'entropy',random_state = 128)
classifier.fit(x_train,y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=128, verbose=0, warm_start=False)

In [40]:
y_pred_test = classifier.predict(x_test)

In [41]:
y_pred_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [42]:
lr_p_train = classifier.predict(x_train)
print(lr_p_train)

[0 0 0 ..., 0 0 0]

In [43]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred_test)
cm

array([[1999,   80],
       [ 291,   79]], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,lr_p_train)

0.97097625329815307

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_test)

0.84850959575336871